<a href="https://colab.research.google.com/github/sanket0708/AI_ML_Codes/blob/main/PythonAndDS/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

pd_series1 = pd.Series([75,92,88],index=["Maths","Biology","CS"])

print(pd_series1["Maths"])

pd_dataframe1 = pd.DataFrame({
    'student_name' : ['Akash','Rajat'],
    'math_scores' : [79,82],
    'biology_scores' : [54,67],
    'cs_scores' : [84,85]

})

print(pd_dataframe1)

print("---------------")

print(pd_dataframe1['student_name'])
print(pd_dataframe1['student_name'][1])

75
  student_name  math_scores  biology_scores  cs_scores
0        Akash           79              54         84
1        Rajat           82              67         85
---------------
0    Akash
1    Rajat
Name: student_name, dtype: object
Rajat

In [18]:
pd_series2 = pd.Series([1,2,3,4])
print(pd_series2[1]) # print 2

pd_series3 = pd.Series([75,92,88],index=["Maths","Biology","CS"])
print(pd_series3['Maths']) #print 75

dict1 = {'Maths':89 , 'Biology':92 , 'CS':88}
pd_series4 = pd.Series(dict1)
print(pd_series4['Maths']) #print 89

pd_series5 = pd.Series([5,6,7,8]);
pd_series6 = pd_series5*2
print(pd_series6)
print(pd_series6.mean())

2
75
89
0    10
1    12
2    14
3    16
dtype: int64
13.0

In [19]:
df1 = pd.DataFrame({
    "name" : ["Alice","bob","carol"],
    "city" : ["bangkok","delhi","jaipur"],
    "height" : [175,179,181]
})

print(df1["name"])

0    Alice
1      bob
2    carol
Name: name, dtype: object