<a href="https://colab.research.google.com/github/sanket0708/AI_ML_Codes/blob/main/PythonAndDS/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

pd_series1 = pd.Series([75,92,88],index=["Maths","Biology","CS"])

print(pd_series1["Maths"])

pd_dataframe1 = pd.DataFrame({
    'student_name' : ['Akash','Rajat'],
    'math_scores' : [79,82],
    'biology_scores' : [54,67],
    'cs_scores' : [84,85]

})

print(pd_dataframe1)

print("---------------")

print(pd_dataframe1['student_name'])
print(pd_dataframe1['student_name'][1])

75
  student_name  math_scores  biology_scores  cs_scores
0        Akash           79              54         84
1        Rajat           82              67         85
---------------
0    Akash
1    Rajat
Name: student_name, dtype: object
Rajat

In [3]:
pd_series2 = pd.Series([1,2,3,4])
print(pd_series2[1]) # print 2

pd_series3 = pd.Series([75,92,88],index=["Maths","Biology","CS"])
print(pd_series3['Maths']) #print 75

dict1 = {'Maths':89 , 'Biology':92 , 'CS':88}
pd_series4 = pd.Series(dict1)
print(pd_series4['Maths']) #print 89

pd_series5 = pd.Series([5,6,7,8]);
pd_series6 = pd_series5*2
print(pd_series6)
print(pd_series6.mean())

2
75
89
0    10
1    12
2    14
3    16
dtype: int64
13.0

In [4]:
df1 = pd.DataFrame({
    "name" : ["Alice","bob","carol"],
    "city" : ["bangkok","delhi","jaipur"],
    "height" : [175,179,181]
})

print(df1["name"])

0    Alice
1      bob
2    carol
Name: name, dtype: object

In [6]:
dataset = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

In [24]:
print(dataset.head())
print("------------------------")
print(dataset.describe())
print("------------------------")
print(dataset.info())
print("------------------------")
print(dataset['species'])
print("------------------------")
print(dataset[['species','sepal_length','sepal_width']])
print("------------------------")
print(dataset.iloc[0]) #row by index position
print("------------------------")
print(dataset.loc[0]) #we can use labels in loc
print("------------------------")
print(dataset.iloc[0:3])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
------------------------
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
------------------------
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object
------------------------
       species  sepal_length  sepal_width
0       setosa           5.1          3.5
1       setosa           4.9          3.0
2       setosa           4.7          3.2
3       setosa           4.6          3.1
4       setosa           5.0          3.6
..         ...           ...          ...
145  virginica           6.7          3.0
146  virginica           6.3          2.5
147  virginica           6.5          3.0
148  virginica           6.2          3.4
149  virginica           5.9          3.0

[150 rows x 3 columns]
------------------------
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object
------------------------
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object
------------------------
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [29]:
print(dataset[(dataset['sepal_length']>6) & (dataset['species']=='setosa')])

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [30]:
print(dataset[(dataset['sepal_length']>6) & (dataset['species']=='virginica')])

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
120           6.9          3.2           5.7          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

In [32]:
dataset['sepal_ratio'] = dataset['sepal_length'] / dataset['sepal_width']
print(dataset.head())

   sepal_length  sepal_width  petal_length  petal_width species  sepal_ratio
0           5.1          3.5           1.4          0.2  setosa     1.457143
1           4.9          3.0           1.4          0.2  setosa     1.633333
2           4.7          3.2           1.3          0.2  setosa     1.468750
3           4.6          3.1           1.5          0.2  setosa     1.483871
4           5.0          3.6           1.4          0.2  setosa     1.388889