<a href="https://colab.research.google.com/github/sanket0708/AI_ML_Codes/blob/main/PythonAndDS/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

pd_series1 = pd.Series([75,92,88],index=["Maths","Biology","CS"])

print(pd_series1["Maths"])

pd_dataframe1 = pd.DataFrame({
    'student_name' : ['Akash','Rajat'],
    'math_scores' : [79,82],
    'biology_scores' : [54,67],
    'cs_scores' : [84,85]

})

print(pd_dataframe1)

print("---------------")

print(pd_dataframe1['student_name'])
print(pd_dataframe1['student_name'][1])

75
  student_name  math_scores  biology_scores  cs_scores
0        Akash           79              54         84
1        Rajat           82              67         85
---------------
0    Akash
1    Rajat
Name: student_name, dtype: object
Rajat

In [2]:
pd_series2 = pd.Series([1,2,3,4])
print(pd_series2[1]) # print 2

pd_series3 = pd.Series([75,92,88],index=["Maths","Biology","CS"])
print(pd_series3['Maths']) #print 75

dict1 = {'Maths':89 , 'Biology':92 , 'CS':88}
pd_series4 = pd.Series(dict1)
print(pd_series4['Maths']) #print 89

pd_series5 = pd.Series([5,6,7,8]);
pd_series6 = pd_series5*2
print(pd_series6)
print(pd_series6.mean())

2
75
89
0    10
1    12
2    14
3    16
dtype: int64
13.0

In [3]:
df1 = pd.DataFrame({
    "name" : ["Alice","bob","carol"],
    "city" : ["bangkok","delhi","jaipur"],
    "height" : [175,179,181]
})

print(df1["name"])

0    Alice
1      bob
2    carol
Name: name, dtype: object

In [4]:
dataset = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

In [5]:
print(dataset.head())
print("------------------------")
print(dataset.describe())
print("------------------------")
print(dataset.info())
print("------------------------")
print(dataset['species'])
print("------------------------")
print(dataset[['species','sepal_length','sepal_width']])
print("------------------------")
print(dataset.iloc[0]) #row by index position
print("------------------------")
print(dataset.loc[0]) #we can use labels in loc
print("------------------------")
print(dataset.iloc[0:3])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
------------------------
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
------------------------
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object
------------------------
       species  sepal_length  sepal_width
0       setosa           5.1          3.5
1       setosa           4.9          3.0
2       setosa           4.7          3.2
3       setosa           4.6          3.1
4       setosa           5.0          3.6
..         ...           ...          ...
145  virginica           6.7          3.0
146  virginica           6.3          2.5
147  virginica           6.5          3.0
148  virginica           6.2          3.4
149  virginica           5.9          3.0

[150 rows x 3 columns]
------------------------
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object
------------------------
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object
------------------------
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [6]:
print(dataset[(dataset['sepal_length']>6) & (dataset['species']=='setosa')])

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [7]:
print(dataset[(dataset['sepal_length']>6) & (dataset['species']=='virginica')])

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
120           6.9          3.2           5.7          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

In [8]:
dataset['sepal_ratio'] = dataset['sepal_length'] / dataset['sepal_width']
print(dataset.head())

   sepal_length  sepal_width  petal_length  petal_width species  sepal_ratio
0           5.1          3.5           1.4          0.2  setosa     1.457143
1           4.9          3.0           1.4          0.2  setosa     1.633333
2           4.7          3.2           1.3          0.2  setosa     1.468750
3           4.6          3.1           1.5          0.2  setosa     1.483871
4           5.0          3.6           1.4          0.2  setosa     1.388889

In [10]:
print(dataset.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
sepal_ratio     0
dtype: int64

In [14]:
dataset.groupby('species').mean()
print('----------------------------------')
dataset.groupby('species')['sepal_length'].agg(['mean','min','max'])

----------------------------------

             mean  min  max
species
setosa      5.006  4.3  5.8
versicolor  5.936  4.9  7.0
virginica   6.588  4.9  7.9

In [20]:
dataset.sort_values(by="sepal_length",ascending=True)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio
13,4.3,3.0,1.1,0.1,setosa,1.433333
8,4.4,2.9,1.4,0.2,setosa,1.517241
42,4.4,3.2,1.3,0.2,setosa,1.375000
38,4.4,3.0,1.3,0.2,setosa,1.466667
41,4.5,2.3,1.3,0.3,setosa,1.956522
...,...,...,...,...,...,...
122,7.7,2.8,6.7,2.0,virginica,2.750000
117,7.7,3.8,6.7,2.2,virginica,2.026316
118,7.7,2.6,6.9,2.3,virginica,2.961538
135,7.7,3.0,6.1,2.3,virginica,2.566667
131,7.9,3.8,6.4,2.0,virginica,2.078947

In [28]:
students = pd.DataFrame({
    "id" : [1,2,3],
    "name" : ["Akash","Bob","John"]
})

score = pd.DataFrame({
    "id" : [1,2,3],
    "score" : [55,75,32]
})

another_data = pd.DataFrame({
    "id" : [4,5,6],
    "score" : ["John","Imar","Paul"]
})

result = pd.merge(students,score,on="id")
print(result)

print("----------------------")

result2 = pd.concat([students,another_data],ignore_index=True)
print(result2)

   id   name  score
0   1  Akash     55
1   2    Bob     75
2   3   John     32
----------------------
   id   name score
0   1  Akash   NaN
1   2    Bob   NaN
2   3   John   NaN
3   4    NaN  John
4   5    NaN  Imar
5   6    NaN  Paul

# ***TITANIC DATASET PRACTICE CHALLENGE***

In [30]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic = pd.read_csv(url)

In [41]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [42]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [45]:
titanic.isnull().sum() #there are null values in age , cabin and embarked we have to handle that carefully

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [48]:
#fill the missing values in the age column with the mean age
titanic['Age'].fillna(titanic['Age'].mean(),inplace=True)

/tmp/ipython-input-3688943598.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['Age'].fillna(titanic['Age'].mean(),inplace=True)

In [49]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [63]:
#drop columns like cabin ( too many missing values )
# titanic.drop('Cabin',axis=1,inplace=True) to drop cabin
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [81]:
print(titanic['Survived'].mean()*100)
print("--------------------------------------------")
print(titanic.groupby('Sex')['Survived'].mean()*100)
print("--------------------------------------------")
print(titanic.groupby('Pclass')['Survived'].mean()*100)
print("--------------------------------------------")
print(titanic.groupby('Survived')['Age'].mean())
print("--------------------------------------------")
print(titanic[titanic['Age']<16]['Survived'].mean()*100)

38.38383838383838
--------------------------------------------
Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64
--------------------------------------------
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64
--------------------------------------------
Survived
0    30.415100
1    28.549778
Name: Age, dtype: float64
--------------------------------------------
59.036144578313255

In [83]:
#find the youngest person who survived
titanic[titanic['Survived']==1].sort_values(by='Age',ascending=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,S
...,...,...,...,...,...,...,...,...,...,...,...
570,571,1,2,"Harris, Mr. George",male,62.00,0,0,S.W./PP 752,10.5000,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,NaN
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.00,0,0,4134,9.5875,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,S

In [85]:
bins = [0,16,60,float('inf')] #infinity
labels = ['Child','Adult','Senior']

titanic['AgeGroup'] = pd.cut(titanic['Age'],bins=bins,labels=labels,right=False)

titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,Adult

In [86]:
titanic.groupby('AgeGroup')['Survived'].mean()*100

/tmp/ipython-input-1826385113.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  titanic.groupby('AgeGroup')['Survived'].mean()*100

AgeGroup
Child     59.036145
Adult     36.572890
Senior    26.923077
Name: Survived, dtype: float64