<a href="https://colab.research.google.com/github/sanket0708/AI_ML_Codes/blob/main/PythonAndDS/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
your_name = input("Enter your name")
print("Hello "+ your_name);

Enter your nameSanket
Hello Sanket

In [ ]:
a = input("Enter 1st number")
b = input("Enter 2nd number")

print("Sum is", int(a)+int(b))
print("Sum is", int(a)-int(b))
print("Sum is", int(a)*int(b))
print("Sum is", int(a)/int(b))

Enter 1st number10
Enter 2nd number2
Sum is 12
Sum is 8
Sum is 20
Sum is 5.0

In [ ]:
temperature = 1

if temperature>25:
  print("Its a hot day!")
elif temperature<10:
  print("Its cold!")
else:
  print("Normal!")

Its cold!

In [ ]:
list1 = [1,2,3,5,6]
for item in list1:
  print("The valuse is =",item)

print("In range loop")

for i in range(5):
  print("The valuse is =",list1[i])

The valuse is = 1
The valuse is = 2
The valuse is = 3
The valuse is = 5
The valuse is = 6
In range loop
The valuse is = 1
The valuse is = 2
The valuse is = 3
The valuse is = 5
The valuse is = 6

In [ ]:
def print_name(name):
  print("The name is",name)

print_name("Harsh")

The name is Harsh

Matrix multiplication

In [21]:
m1 = [[1,2,3],[4,5,6]]
m2 = [[7,10],[8,11],[9,12]]

p = len(m1) #rows
q = len(m1[0]) #columns
r = len(m2[0])
print(p,q,r)

2 3 2

In [25]:
def matmul(m1,m2):

  p = len(m1)
  q1 = len(m1[0])
  q2 = len(m2)
  r = len(m2[0])

  if q1 == q2:
    q = q1

    m3row = []
    m3 = []

    for i in range(p):
      for j in range(r):
        m3row.append(0)
      m3.append(m3row)
      m3row = []

    #print(m3)

    for k in range(p):
      for j in range(r):
        for i in range(q):
          m3[k][j] = m3[k][j] + m1[k][i] * m2[i][j]
  else:
    print("Dimension mismatch")
    return

  return m3

In [26]:
m1 = [[1,2,3],[4,5,6]] #p,q
m2 = [[7,10],[8,11],[9,12]] #q,r

result = matmul(m1, m2)

print(result)

[[50, 68], [122, 167]]

***CLASSES IN PYTHON ***

In [34]:
class Book:
  category = 'Science'
  def print_category(self):
    print("The category is",Book.category)

book1 = Book()
print(book1.category)
book1.print_category()

Science
The category is Science

In [43]:
class Book:
  def __init__(self,category):
    self.category = category

  def print_category(self):
      print("The category is",self.category)

In [44]:
Book1 = Book("Horror")
print(Book1.category)
Book1.print_category()

Horror
The category is Horror

In [53]:
class Book:
  def __init__(self,category,title):
    self.category = category
    self.title = title

  def print_category(self):
      print("The category is",self.category)
      print("The title is",self.title)

class eBook(Book):
  def __init__(self,category,title,price,size_in_mb):
    super().__init__(category,title)
    self.price = price
    self.size_in_mb = size_in_mb

  def print_attributes(self):
    print("The category is",self.category)
    print("The title is",self.title)
    print("The price is",self.price,"$")
    print("The size is",self.size_in_mb,"mb")

In [54]:
Book2 = eBook("Productivity","Deepwork",24,2.2)
print(Book2)
print(Book2.category)
Book2.print_attributes()

<__main__.eBook object at 0x7a2336955c10>
Productivity
The category is Productivity
The title is Deepwork
The price is 24 $
The size is 2.2 mb